.App.theme-black {
    $bg: #5c5c5c;
    $main: #1565c0;
    $main-bg: #333;

    background-color: $bg;

    .ccard {
        background-color: $main-bg;
    }

    .cborder {
        border: 2px solid lighten($color: $main, $amount: 20%);
    }
}

