input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

a {
    text-decoration: none !important;
}

input[type="checkbox"] {
    opacity: 0.5;
}

input[type="checkbox"]:checked {
    opacity: 1;
}

.vertical-center {
    display: grid;
    place-items: center;
}

.clogo {
    font-family: "MuseoModerno";
}

.clink {
    margin-right: 8px;
    margin-left: 8px;
    transition: 0.5s;
}

.clink:hover {
    transform: scale(1.2);
}

.social {
    font-size: 1.4rem;
}

.container {
    min-height: 82.2vh;
    padding-bottom: 1rem;
}
