.App.theme-orange {
    $bg: #d0b7f4;
    $main: #7852ae;
    $main-bg: #ecdfff;

    background-color: $bg;

    .ccard {
        background-color: $main-bg;
    }

    .cborder {
        border: 2px solid lighten($color: $main, $amount: 20%);
    }
}
