.App.theme-white {
    // $bg: #fffef8;
    // $main: #eed54a;
    // $syntax: darken(
    //     $color: $main,
    //     $amount: 20%,
    // );
    // $main-bg: #fffef1;
    // $complete: #4fb64f;
    // $complete-bg: #b4ffb4;
    // $remove: #e26060;
    // $facebook: #405d9d;
    // $twitter: #00acee;

    // $nav-border: #eee;

    $main-bg: #ffffff86;
    // $main-bg: #ecd9bddc;
    // background: #fff4e3;

    // p, span, strike {
    //     color: #ffffff;
    // }

    // $bg: darken(
    //     $color: $main-bg,
    //     $amount: 5%,
    // );

    $bg: #e4e4e4c5;
    // $main-bg: darken(
    //     $color: $bg,
    //     $amount: 5%,
    // );
    // $main: #036477a2;

    // $main: #bfb5da;
    $main: #00000081;
    // $main: #5d5d5a;

    // $syntax: darken(
    //     $color: $main,
    //     $amount: 15%,
    // );
    // $syntax: #383737ee;
    $syntax: #000000a2;
    // $syntax: $main;

    $border: darken(
        $color: $main-bg,
        $amount: 10%,
    );
    $complete: #3eb83ed3;
    $complete-bg: #b4ffb491;
    $remove: #ff0000ad;
    $c-secondary: #d36729c9;
    // $c-info: #7418b6b2;
    $c-info: #e05e3ae7;
    $facebook: #405d9d;
    $twitter: #00acee;
    // $nav-border: #eee;

    // background-color: $bg;

    // Indigo
    // background: rgb(208, 133, 208);
    // background: linear-gradient(
    //     90deg,
    //     rgba(208, 133, 208, 1) 0%,
    //     rgba(183, 183, 233, 1) 100%
    // );

    // Cream Color
    // background: rgb(255, 192, 192);
    // background: linear-gradient(
    //     90deg,
    //     rgba(255, 192, 192, 1) 0%,
    //     rgba(245, 221, 235, 1) 100%
    // );

    // Blue Color
    // background: rgb(114, 160, 193);
    // background: linear-gradient(
    //     90deg,
    //     rgba(114, 160, 193, 1) 0%,
    //     rgba(178, 255, 255, 1) 100%
    // );

    // Silver Color
    background: rgb(238, 174, 202);
    background: radial-gradient(
        circle,
        rgba(238, 174, 202, 1) 0%,
        rgba(148, 187, 233, 1) 100%
    );

    .ccard__input {
        flex: 2;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 2px solid $main;
    }

    .ccard__input-prepend {
        padding: 0.05rem 0.5rem 0.15rem 0.5rem;
        margin-right: 0.37rem;
        border-radius: 0.45rem;
        border: 2px solid $main;
    }

    // .work-btn {
    //     width: 2.6rem;
    //     height: 2rem;
    // }

    // Dropdown
    // .dropdown_menu {
    //     button {
    //         display: none;
    //         opacity: 0;
    //     }

    //     a {
    //         display: none;
    //         opacity: 0;
    //     }
    // }

    // .dropdown:hover {
    //     .card__hover-btn {
    //         display: none;
    //     }

    //     button {
    //         display: inline-block;
    //     }

    //     a {
    //         display: inline-block;
    //     }
    // }

    .dropdown_menu {
        @for $num from 1 through 5 {
            .dropdown_item-#{$num} {
                animation: rotateX 400ms ($num * 150ms) ease-in-out forwards;
                transform-origin: top center;
            }
        }
    }

    @keyframes rotateX {
        0% {
            opacity: 0;
            transform: rotateX(-90deg);
        }
        50% {
            transform: rotateX(-20deg);
        }
        100% {
            opacity: 1;
            transform: rotateX(0deg);
        }
    }
    // Dropdown

    // .navLink-border {
    //     border-left: 2px solid $nav-border;
    // }

    .ccard {
        // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

        // border-top: 4px solid #9c1de7;

        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);

        border-radius: 0.45rem;
    }

    .card__hover:hover {
        cursor: pointer;
        transform: scale(1.02);
    }

    $theme-colors: ();
    $theme-colors: map-merge(
        (
            "bg": $bg,
            "main": $main,
            "main-bg": $main-bg,
            "syntax": $syntax,
            "complete": $complete,
            "complete-bg": $complete-bg,
            "remove": $remove,
            "c-secondary": $c-secondary,
            "c-info": $c-info,
            "facebook": $facebook,
            "twitter": $twitter,
        ),
        $theme-colors
    );

    @import "~bootstrap/scss/bootstrap.scss";
}
